<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Bacterial Recognition system</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename = 'vendor/aos/aos.css')}} rel="stylesheet">
    <link href="{{ url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Ninestars
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1 class="text-light"><a href="index.html"><span>xyz</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <!-- <li><a class="getstarted scrollto" href="#main">Get Started</a></li> -->
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1>Bacteria Recognition System</h1>
                    <h2>A novel approach to accurately identify and classify bacteria using advanced recognition techniques.</h2>
                    <div>
                        <a href="#main" class="btn-get-started scrollto">Get Started</a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img">
                    <img src="{{ url_for('static', filename = 'img/img1.jpg')}}" class="img-fluid animated" alt="" width="500" height="400">
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero -->

    <main id="main">


        <!-- ======= Contact Us Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Get started</h2>
                    <p> Upload an image to classify bacteria</p>
                </div>

                <div class="row">

                    <div class="col-lg-14 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <form action = "http://localhost:5000/login" method = "post" enctype = "multipart/form-data" class="php-email-form">
                            <!-- <div class="text-center"><button type="file">Upload Image</button></div> -->
                            <p><label class="text-center" for="file" style="cursor: pointer; background-color: #9ADDD0;border: none;color: white;
                                padding: 16px 32px;text-decoration: none; margin: 4px 2px; cursor: pointer;border-radius: 5px;margin-left: auto;margin-right: auto;">Upload Image</label></p>
                            <div>
                                <input type="file" required accept="image/*" name="image" id="file"  onchange="loadFile(event)">
                            </div>
                            <div id = "element">
                                <img class="img-fluid animated text-center" id = "output" alt="" width=500 style=" display: block; margin-left: auto;margin-right: auto;" onclick="genBox(event)">
                                <svg id="box" style="display: none">
                                    <rect width="50" height="50" style="fill:none;stroke-width:1;stroke:red" />
                                </svg>
                            </div>
                            
                            <br>
                            <br>

                            <input type="text" id="x-coord" name = "x-coord" required readonly/>
                            <input type="text" id="y-coord" name="y-coord" required readonly/ >

                            <br>
                            <div class="text-center"><button type="submit">Submit</button></div>

                        </form>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Contact Us Section -->

    </main>
    <!-- End #main -->


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename = 'vendor/aos/aos.js')}}"></script>
    <script src="{{ url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'vendor/glightbox/js/glightbox.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'vendor/swiper/swiper-bundle.min.js')}}"></script>
    <!-- <script src="{{ url_for('static', filename = 'vendor/php-email-form/validate.js')}}"></script> -->

    <!-- Template Main JS File -->
    <!-- <script src="assets/js/main.js"></script> -->
    <script src="{{ url_for('static', filename = 'js/upload.js') }}"></script>

</body>

</html>