<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Bacterial Recognition system</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename = 'vendor/aos/aos.css')}} rel="stylesheet">
    <link href="{{ url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/index.css') }}" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1 class="text-light"><a href="/"><span>Bacteria Recognition System</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <!-- <nav id="navbar" class="navbar">
                <ul>
                    <div><a class="nav-link scrollto active" href="#hero">Home</a></div>
                    <div><a class="getstarted scrollto" href="#main">Get Started</a></div>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav> -->
            <!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1>Bacteria Recognition System</h1>
                    <h2>A novel approach to accurately identify and classify bacteria using advanced recognition techniques.</h2>
                    <div>
                        <a href="#main" class="btn-get-started scrollto">Get Started</a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img p-2">
                    <img src="{{ url_for('static', filename = 'img/bacteria.png')}}" class="img-fluid animated" alt="" width="500" height="400">
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero -->

    <section id="process" class="d-flex align-items-center">

        <div class="container">
            <div class="row font-primary text-center">
                <div class="offer">What we offer?</div>
                <div class="offering mb-5">Replace your traditional microscopes with our bacteria recognition system.</div>
            </div>
            <div class="row">
              <div class="col text-center">
                <img src="{{ url_for('static', filename = 'img/morphology-image.png')}}" class="img-fluid animated" alt="">
                <div class="step font-primary">Upload Your Image</div>
              </div>
              <div class="col text-center">
                <img src="{{ url_for('static', filename = 'img/selected-colony.png')}}" class="img-fluid animated" alt="" >
                <div class="step font-primary">Select the Colony</div>
              </div>
              <div class="col text-center">
                <img src="{{ url_for('static', filename = 'img/result.png')}}" class="img-fluid animated" alt=""">
                <div class="step font-primary">Recognized Bacteria</div>
              </div>
            </div>
          </div>

    </section>

    <main id="main">


        <!-- ======= Contact Us Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Get started</h2>
                    <p> Upload an image to classify bacteria</p>
                </div>

                <div class="row">

                    <div class="mt-5 mt-lg-0 d-flex" data-aos="fade-up" data-aos-delay="200">
                        <form action = "http://localhost:5000/result" name = "form" method = "post" enctype = "multipart/form-data" onsubmit="return addCoords();" class="php-email-form">
                            <p class="text-center" ><label class="input-label" for="file">Upload Image</label></p>
                            <div>
                                <input type="file" required accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;">
                            </div>
                            <div id = "element">
                                <div class="cursor square"></div>
                                <img class="img-fluid animated text-center" id = "output" alt="" title = "Click on center of colony to select it !" width=500 onclick="genBox(event)">
                            </div>

                            <input type="text" id="x-coord" name = "x-coord" required readonly style="display: none;"/>
                            <input type="text" id="y-coord" name="y-coord" required readonly style="display: none;"/ >
                            <input type="text" id="colony" name="colony" required readonly style="display: none;"/ >

                            <br>
                            <div class="text-center"><button type="submit" disabled >Submit</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Contact Us Section -->

    </main>
    <!-- End #main -->


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename = 'vendor/aos/aos.js')}}"></script>
    <script src="{{ url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'vendor/glightbox/js/glightbox.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'vendor/swiper/swiper-bundle.min.js')}}"></script>
    <!-- <script src="{{ url_for('static', filename = 'vendor/php-email-form/validate.js')}}"></script> -->

    <!-- Template Main JS File -->
    <!-- <script src="assets/js/main.js"></script> -->
    <script src="{{ url_for('static', filename = 'js/upload.js') }}"></script>

</body>

</html>