<html>
   <head>
      <title>Bootstrap Example</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="assets/img/favicon.png" rel="icon">
      <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
  
      <!-- Vendor CSS Files -->
      <link href="assets/vendor/aos/aos.css" rel="stylesheet">
      <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
      <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
      <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
      <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
      <!-- Template Main CSS File -->
      <link href="assets/css/style.css" rel="stylesheet">
    </head>
   <body>
      <form action = "http://localhost:5000/login" method = "post" enctype = "multipart/form-data">
         <!-- <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
         <p><label for="file" style="cursor: pointer;">Upload Image</label></p> -->
         <!-- <img id="output" width="500"/> -->
         <img src="assets/img/img1" class="img-fluid animated text-center" alt="" width="500" style=" display: block; margin-left: auto;margin-right: auto;">
         <div class="text-center"><button type="submit">Submit</button></div>
          <svg id="box" style="display: none;">
            <rect width="50" height="50" style="fill:none;stroke-width:1;stroke:red" />
          </svg>
         <!-- <p><button type = "submit" value = "submit" /></button></p> -->
      </form>

      <script>
         var loadFile = function(event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
         };

         document.getElementById('output').addEventListener('mousedown', (e) => {
            var rectElement = document.getElementById('box');

            // Get the target
            const target = e.target;

            // Get the bounding rectangle of target
            const rect = target.getBoundingClientRect();

            // Mouse position
            const x = e.clientX - rect.left;
            const y = e.clientY - rect.top;
            console.log(x,y,rect);
            
            // if(rectElement.style.display === 'none'){
                rectElement.style.display = ''
                rectElement.style.position = 'absolute'
                rectElement.style.top = y + 15
                rectElement.style.left = x - 15
            // }else{
            //     var form = document.getElementsByTagName('form')[0]

            //     var svg = document.createElement('svg')
            //     svg.setAttribute("style",`position:absolute;top:${y+15};left:${x-15}`)

            //     var box = document.createElement('rect')
            //     box.setAttribute("width", "50")
            //     box.setAttribute("height", "50")
            //     box.setAttribute("style", "fill:none;stroke-width:1;stroke:red")
                
            //     svg.appendChild(box)

            //     form.appendChild(svg)
            // }
        });
      </script>

   </body>
</html>